<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <h1>Pick one investment strategies</h1>
  <div id="selectContainer">
    <form id="form1" name="form1" action="map_stocks" method="post">
      <label for="amount">amount to invest (minimun $5000)</label>
      <input type="number" id="amount" name="amount" min="5000">

      <label for="strategy">investment strategy</label>
      <select name="strategy" id="strategy">
        <option value="ethical">Ethical Investing</option>
        <option value="growth">Growth Investing</option>
        <option value="index">Index Investing</option>
        <option value="quality">Quality Investing</option>
        <option value="value">Value Investing</option>
      </select>
    </form>
  </div>

  <div id="btnContainer">
    <button id="nextBtn" type="submit" form="form1" value="next">Next</button>
  </div>
</body>
</html>